/* Add this CSS in a separate AccommodationForm.css file */


  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    width: 100%;
    font-size: 1em;
    height: 50px; /* Adjust the height as needed */
    box-sizing: border-box; /* Ensure padding is included in the total height */
  }
  
  button {
    padding: 10px;
    background-color: #0e0e0e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
  
  button:hover {
    background-color: #d8dfd8;
    color: black;
  }
 
  